.dashboard {
  display: flex;
  height: 100vh;
  background: #f4f6fb;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #1c3f94;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  background: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.topbar input {
  width: 300px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* CONTENT */
.content {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-panel {
  flex: 2;
}

.right-panel {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.job-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.job-card button {
  margin-top: 10px;
  background: #1c3f94;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.loading {
  padding: 50px;
  text-align: center;
}
