.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  color: white;

  z-index: 1000;
  transition: 0.3s ease;
}
.logo img {
  height: 45px;
  filter: brightness(0) invert(1);
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f59e0b;
}

.btn-start {
  background: #f59e0b;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-start:hover {
  background: #d97706;
  transform: translateY(-2px);
}
